body{
    background-color: black;
}
.me{
    background-color: white;
    width: 600px;
    height: 800px;
    margin-left: 650px;
    margin-top: 80px;
    border-radius: 20px;
}

h1{
    top: 73px;
margin-left: 160px;
width: 277px;
height: 67px;
color: var(--unnamed-color-000000);
text-align: left;
font: normal normal 600 48px/72px Poppins;
letter-spacing: 0px;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
color: #000000;
text-transform: capitalize;
opacity: 1;
}

.input-group{
    margin-left: 600px;
    margin-top: -600px;
    position:relative;
}
label.img{

    margin-left: 300px;
}
.oval{
    width: 150px;
    height: 150px;
    background-color: gainsboro;
    border-radius: 100px;
    margin-left: 244px;
    margin-top: -100px;
}
h2{
    position:absolute;
    margin-left: 870px;
    margin-top: -650px; 
width: 236px;
height: 51px;
color: var(--unnamed-color-000000);
text-align: left;
font: normal normal 300 22px/33px Poppins;
letter-spacing: 0px;
color: #000000;
text-transform: lowercase;
font-family: Georgia, 'Times New Roman', Times, serif;
opacity: 1;

}
h3{
    margin-left: 840px;
width: 164px;
height: 31px;
color: var(--unnamed-color-000000);
text-align: left;
font: normal normal 300 22px/33px Poppins;
font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
letter-spacing: 0px;
color: #000000;
text-transform: lowercase;
opacity: 1;
}
#fname{
    margin-top: 47px;
margin-left: 710px;
width: 450px;
height: 76px;
background: var(--unnamed-color-e6ebff) 0% 0% no-repeat padding-box;
background: #E6EBFF 0% 0% no-repeat padding-box;
border-radius: 4px;
font-size: 20px;
font-style: normal;
opacity: 1;
border: none;
}
#but{
    margin-top: 99px;
margin-left: 790px;
width: 258px;
height: 66px;
background: var(--unnamed-color-5efc8d) 0% 0% no-repeat padding-box;
background: #5EFC8D 0% 0% no-repeat padding-box;
border-radius: 4px;
font-size: 40px;
opacity: 1;
border: none;
}